.up-button {
  max-width: 30rem;
  width: 100%;
  position: fixed;
  bottom: 72px;
  &__rounded {
    background-color: #fff;
    box-shadow: 0 2px 12px 0 hsla(0, 0%, 76.9%, 0.5),
      0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      max-width: 50%;
      width: auto;
    }
  }
}
.hidden {
    display: none;
}
.show {
    display: block;
}
