table {
  width: 100%;
  border-collapse: collapse;
  & td {
    text-align: left;
    border-bottom: 1px solid #dadce0;
    padding: 8px 4px;
    & a {
      color: #10003c;
      text-decoration: none;
    }

    &:first-child {
      padding-right: 8px;
    }
    &:last-child {
      text-align: right;
    }
  }
  & tr {
    &:hover {
      background-color: rgba(0, 197, 101, 0.2);
    }
    &:active {
      opacity: 0.2;
    }
  }
}
